body{
	margin: 0;
}
h2 {
	text-align: center;
}
.grid {
	width: 66.66%;
	box-sizing: border-box;
	float: left;
}
.box {
	width: 50%;
	height: 1200px;
	border: 1px solid red;
	float: left;
	box-sizing: border-box;
	padding: 0.5em;
}

.cont {
	width: 100%;
	height: 100%;
	background: orange;
}

.inbox {
	width: 48%;
	height: 80%;
	position: relative;
	top: 2.5em;
	margin: 0.5em;
	background: #34c0eb;
	box-sizing: border-box;
	padding: 0.5em;
	flex-direction: row;
}
.inbox12 {
	width: 48%;
	height: 80%;
	top: 2.5em;
	margin: 0.5em;
	flex-direction: row;
	#flex-direction: column;
	float: left;
	background: ;
	box-sizing: border-box;
	padding: 0.5em;
}

.inbox21 {
	width: 95%;
	height: 48%;
	top: 2.5em;
	margin: 0.5em;
	float: left;
	background: #34c0eb;
	box-sizing: border-box;
	padding: 0.5em;
}


.inbox22 {
	width: 95%;
	height: 48%;
	top: 2.5em;
	margin: 0.5em;
	float: left;
	background: #34c0eb;
	box-sizing: border-box;
	padding: 0.5em;
}

.inbox31{
	width: 95%;
	height: 100%;
	top: 2.5em;
	margin: 0.5em;
	float: left;
	background: #34c0eb;
	box-sizing: border-box;
	padding: 0.5em;
}
.inbox32{
	width: 95%;
	height: 100%;
	top: 2.5em;
	margin: 0.5em;
	float: left;
	background: #34c0eb;
	box-sizing: border-box;
	padding: 0.5em;
}
.inbox33{
	width: 95%;
	height: 100%;
	top: 2.5em;
	margin: 0.5em;
	float: left;
	background: #34c0eb;
	box-sizing: border-box;
	padding: 0.5em;
}
.inbox34{
	width: 95%;
	height: 100%;
	top: 2.5em;
	margin: 0.5em;
	float: left;
	background: #34c0eb;
	box-sizing: border-box;
	padding: 0.5em;
}



.menu-items{
	width: %;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1em;
}

.item-tile{
	margin-right: 0.5em;
	width: 48%;
	height: 100%;
	
	background: #34c0eb;
	flex-direction: row;
}
.long{
	width: 33.33%;
	height: 1200px;
	border: 1px solid red;
	padding: 0.5em;
}

.col {
	width: 100%;
	height: 100%;
	background: orange;
}

@media screen and (max-width: 768px){
	.grid{
		width: 100%;
	}
	.box{
		width: 100%;
	}
}

@media screen and (min-width: 769px ) and (max-width: 1200px){
	.grid{
		width: 100%;
	}
}